.item-content-about-blog {
    position: relative;
    margin: 0 auto;
    .content-about-blog-main {
        padding: 0px 24px;
        h1 {
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #0A1825;
            text-transform: uppercase;
            padding-bottom: 10px;
            padding-top: 35px;
            text-align: center;
        }
        p {
            text-align: justify;
            font: normal 500 14px/24px Montserrat;
            color: #0A1825;
        }
    }
}

@media (min-width: 992px) {
    .item-content-about-blog {
        padding-bottom: 50px;
        .item-item-about-left-mqn {
            position: relative;
            margin: auto;
            // item img  about content 1
            .item-da1-content-about-mqn {
                img {
                    position: absolute;
                    top: 0;
                    animation-name: da1;
                    animation-duration: 6s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                }
            }
            .item-alien-content-about-mqn {
                img {
                    position: absolute;
                    top: 12%;
                    left: 18%;
                    animation-name: alienSpin;
                    animation-duration: 20000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }
            .item-da2-content-about-mqn {
                img {
                    position: absolute;
                    bottom: 18%;
                    right: 36%;
                    animation-name: da2;
                    animation-duration: 6s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                }
            }
            .item-cloud-content-about-mqn {
                img {
                    position: absolute;
                    bottom: -5%;
                }
            }
            // End item img  about content 1
        }
        .item-item-about-left-mqn2 {
            padding-bottom: 100% !important;
            // item img  about content 2
            .item-background-content-2 {
                img {
                    position: absolute;
                    bottom: 7%;
                    right: 0;
                }
            }
            .item-da-content-3 {
                img {
                    position: absolute;
                    top: 0;
                    transform: rotate(-90deg);
                    left: 35%;
                    animation-name: da3;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                }
            }
            .item-alien-content-2 {
                img {
                    position: absolute;
                    bottom: 32%;
                    left: 58%;
                }
            }
            .item-da-content-4 {
                img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    animation-name: da1;
                    animation-duration: 6s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                }
            }
            .item-robot-content {
                img {
                    position: absolute;
                    bottom: 32%;
                    animation-name: robot;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate-reverse;
                }
            }
            .item-cloud-content-2 {
                img {
                    position: absolute;
                    bottom: 4%;
                    right: 0;
                }
            }
            // End item img  about content 2
        }
        .content-about-blog-main {
            padding: 0px 50px 80px 50px;
            h1 {
                text-align: unset;
                font: normal normal bold 24px/34px Montserrat;
                padding-bottom: 0;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
    @keyframes da1 {
        0% {
            top: 0px;
        }
        25% {
            top: 15px;
        }
        50% {
            top: 25px;
        }
        75% {
            top: 35px;
        }
        100% {
            top: 45px;
        }
    }
    @keyframes da2 {
        0% {
            bottom: 0px;
        }
        25% {
            bottom: 15px;
        }
        50% {
            bottom: 25px;
        }
        75% {
            bottom: 35px;
        }
        100% {
            bottom: 45px;
        }
    }
    @keyframes da3 {
        0% {
            top: 0px;
        }
        25% {
            top: -15px;
        }
        50% {
            top: -25px;
        }
        75% {
            top: -35px;
        }
        100% {
            top: -45px;
        }
    }
    @keyframes alienSpin {
        // from {
        //     transform: rotate(0deg);
        // }
        // to {
        //     transform: rotate(360deg);
        // }
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(25deg);
        }
        50% {
            transform: rotate(35deg);
        }
        75% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(55deg);
        }
    }
    @keyframes robot {
        0% {
            left: 40%;
        }
        25% {
            left: 34%;
        }
        50% {
            left: 29%;
        }
        75% {
            left: 24%;
        }
        100% {
            left: 19%;
        }
    }
    @keyframes alien2 {
        0% {
            left: 60%;
        }
        25% {
            left: 58%;
        }
        50% {
            left: 60%;
        }
        75% {
            left: 57%;
        }
        100% {
            left: 59%;
        }
    }
}

@media (min-width: 1366px) {
    .item-content-about-blog {
        .mt-up-150 {
            margin-top: 0;
        }
        .pt-30 {
            padding-top: 0px;
        }
    }
}

@media (min-width: 1600px) {
    .item-content-about-blog {
        .pt-30 {
            padding-top: 30px;
        }
        .mt-up-150 {
            margin-top: -150px;
        }

        .content-about-blog-main{
            p{
                font: normal 500 16px/24px Montserrat;
            }
        }
    }

}