.icon-social-form {
    ul {
        padding: 0;
        margin-left: -5px;
    }
    ul li {
        display: inline;
        list-style-type: none;
    }
    a {
        margin-right: -10px;
    }
    .icon-background1 {
        background: transparent linear-gradient(180deg, #27394F 0%, #0A1825 100%) 0% 0% no-repeat padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid transparent;
        transition: 0.75s ease;
    }
    .color-white {
        color: white;
        font-size: 14px;
        transition: 0.75s ease;
    }
}


#FormContactMqn{
    order: 1;
}

#MqnContact{
    order: 2;
}

.item-form-contact-main {
    .form-contact {
        padding: 47px 24px;
        .title {
            text-align: center;
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #0A1825;
            text-transform: uppercase;
            padding-bottom: 28px;
        }
        input {
            border: 1px solid #27394F;
            height: 50px;
            padding-bottom: 24px;
            padding-top: 24px;
        }
        textarea {
            border: 1px solid #27394F;
            margin-bottom: 24px;
        }
        .text {
            text-align: center;
            font: normal normal bold 12px/15px Montserrat;
            color: #0A1825;
            text-transform: uppercase;
            text-align: left;
        }
        button {
            background: transparent linear-gradient(180deg, #27394F 0%, #0A1825 100%) 0% 0% no-repeat padding-box;
            text-align: left;
            font: normal normal bold 12px/18px Montserrat;
            color: #FFFFFF;
            text-transform: uppercase;
            width: 100%;
            height: 45px;
            text-align: center;
            transition: 0.75s ease;
            &:hover {
                color: #27394F;
                background: white;
                transition: 0.75s ease;
            }
        }
        button>.fa-paper-plane {
            font-size: 14px;
            margin-right: 10px;
            &:hover {
                color: #27394F;
                transition: 0.75s ease;
            }
        }
    }
    .item-img-form-contact-mqn {
        img {
            width: 100%;
            padding-bottom: 50px;
        }
    }
}

@media (min-width: 992px) {
    .icon-social-form {
        ul {
            margin-top: 10px;
            margin-left: -5px;
        }
        a {
            margin-right: 0;
        }
    }
    .item-form-contact-main {
        .form-contact {
            .title {
                font: normal normal bold 24px/34px Montserrat;
                text-align: left;
                padding-bottom: 18px;
            }
            input {
                margin-bottom: 24px;
            }
            .text {
                margin-right: 14px;
                font: normal normal bold 16px/22px Montserrat;
                padding-top: 5px;
            }
            button {
                font: normal normal bold 15px/18px Montserrat;
                height: 50px;
            }
        }
        .item-img-form-contact-mqn {
            padding-bottom: 50px;
        }
    }

    #FormContactMqn{
        order: 2;
    }
    
    #MqnContact{
        order: 1;
    }
}

@media (min-width: 1366px) {
    .item-form-contact-main {
        padding-top: 50px;
    }
}

@media (min-width: 1600px) {
    .icon-social-form {
        .color-white {
            font-size: 16px;
        }
    }
    .item-form-contact-main {
        padding-top: 100px;
        .form-contact {}
    }
}