.item-list-course-main-mqn {
    padding: 0px 24px;

    .item-list-courser {
        margin-bottom: 24px;

        .item-courser {
            .item-courser-avata {
                height: 215px;
                position: relative;
                cursor: pointer;
                background-position: center;
                background-size: cover;
                border-radius: 10px 10px 0px 0px;
            }

            .item-timeline-courser {
                background: #000000 0% 0% no-repeat padding-box;
                border-radius: 10px 10px 0px 0px;
                opacity: 0.8;
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px 20px;
                width: 100%;
                height: 100%;

                img {
                    padding-right: 8px;
                    width: 20%;
                    margin: 0 auto;
                    display: block;
                    padding-top: 25%;
                }

                span {
                    text-align: center;
                    font: normal normal medium 14px/18px Montserrat;
                    letter-spacing: 0.74px;
                    color: #FFFFFF;
                }
            }

            .item-info-detail-courser {
                border: 1px solid #DDDDEC;
                border-radius: 0px 0px 10px 10px;
                padding: 20px 20px 0px 20px;

                .title {
                    text-align: left;
                    font: normal normal bold 16px/18px Montserrat;
                    letter-spacing: 0.85px;
                    color: #0C1C2B;
                    padding-bottom: 8px;
                }

                .text {
                    text-align: left;
                    font: normal normal normal 14px/22px Montserrat;
                    letter-spacing: 0.74px;
                    color: #959595;
                    padding-bottom: 8px;
                }

                .by {
                    text-align: left;
                    font: normal normal normal 14px/22px Montserrat;
                    letter-spacing: 0.74px;
                    color: #959595;
                }

                .icon-view-courser {
                    margin-top: 15px;

                    ul {
                        list-style-type: none;
                        padding: 0;

                        li {
                            display: inline;
                            padding-right: 8px;
                        }
                    }

                    .view {
                       text-align: center;
                        font: normal normal 600 14px/24px Montserrat;
                        color: white;
                        background: #0c1c2b;
                        padding: 6px 0px;
                        margin-bottom: 20px;
                        border-radius: 100px;
                        width: 100%;
                        transition: 0.75s ease;
                        &:hover{
                            background: white;
                            color:#0c1c2b;
                            box-shadow: 0px 3px 6px gray;
                            transition: 0.75s ease;
                        }
                    }
                }
            }
        }
    }

}

.results-couser{
    padding:30px 24px 0px 24px;
}

@media (min-width: 992px) {
    .item-list-course-main-mqn {
        padding: 50px 50px 0px 50px;

        .item-list-courser {
            margin-bottom: 30px;

            .item-courser {
                .item-courser-avata {
                    height: 245px;
                }
            }
        }
    }

    .results-couser{
        padding:0px 50px 0px 50px;
    }
}

@media (min-width: 1366px) {}

@media (min-width: 1600px) {}
