/* footer */

.footer-main {
    background-image: url('/img/background-mobile-footer.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding: 50% 24px 8% 24px;

    .info-footer-left {
        .logo {
            margin-bottom: 44px;
        }

        .item-contact {
            margin-bottom: 40px;

            img {
                margin-right: 15px;
                float: left;
                width: 30px;
                height: 30px;
            }

            p {
                text-align: left;
                font: normal normal 14px/24px Montserrat;
                color: #FFFFFF;
            }
        }
    }

    .item-form-regsiter-right {
        margin-top: 67px;

        .text {
            text-align: left;
            font: normal normal 14px/19px Montserrat;
            color: #FFFFFF;
            margin-bottom: 24px;
        }

        input {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            height: 50px;
            border: none;
        }

        button {
            border: none;
            height: 50px;
            background: #152230 0% 0% no-repeat padding-box;
        }

        .fa-paper-plane {
            font-size: 22px;
            color: white;
            width: 35px;
        }
    }

    .item-menu-footer-left {
        ul {
            margin-top: 40px;
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 32px;
        }

        a {
            text-align: left;
            font: normal normal 14px/19px Montserrat;
            color: #FFFFFF;
        }
    }

    .item-line {
        border-top: 1px solid #27394F;
        width: 100%;
    }

    .copyright-mqn {
        margin-top: 28px;

        .text {
            text-align: center;
            font: normal normal 14px/19px Montserrat;
            color: #FFFFFF;
        }
    }

    .scroll-top-main-mqn {
        .scroll {
            color: #fff;
            margin-top: 100px
        }

        #toTopBtn {
            position: fixed;
            bottom: 11%;
            right: 30px;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            img{
                width:60px;
                height:60px;
            }
        }

        #toTopBtn.show {
            opacity: 0.7;
            visibility: visible;
        }

        #toTopBtn.show:hover{
            opacity: 1;
        }

        .js .cd-top--fade-out {
            opacity: .5
        }

        .js .cd-top--is-visible {
            visibility: visible;
            opacity: 1
        }

        .js .cd-top {
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s, visibility .3s, background-color .3s
        }

        .cd-top {
            position: fixed;
            bottom: 20px;
            bottom: var(--cd-back-to-top-margin);
            right: 20px;
            right: var(--cd-back-to-top-margin);
            display: inline-block;
            height: 40px;
            height: var(--cd-back-to-top-size);
            width: 40px;
            width: var(--cd-back-to-top-size);
        }
    }

    .lang-phi-thuyen{
        position: fixed;
        bottom: 15%;
        right: 22px;
        z-index: 98;
        .item-lang{
            margin: -45px 30px 55px;
            display: block;
            cursor: pointer;
        }
    }
}

@media (min-width: 768px) {
    .footer-main {
        padding: 40% 24px 8% 24px;
        .lang-phi-thuyen{
            position: fixed;
            bottom: 4%;
            left: 50px;
            z-index: 98;
        }

        .scroll-top-main-mqn{
            #toTopBtn.show{
                right: 60px;
            }
        }
    }
}

@media (min-width: 992px) {
    .footer-main {
        background-image: url('/img/background-desktop-footer.png');
        background-size: cover;
        padding: 22% 24px 3% 24px;
        margin-top: -150px;

        .item-line,
        .copyright-mqn,
        .item-menu-footer-left,
        .item-form-regsiter-right,
        .info-footer-left {
            padding: 0px 50px;
        }

        .info-footer-left {
            .logo {
                margin-bottom: 44px;

                img {
                    width: 50%;
                }
            }

            .item-contact {
                p {
                    font: normal normal 16px/26px Montserrat;
                }
            }
        }

        .item-form-regsiter-right {
            .text {
                margin-top: 120px;
                font: normal normal 16px/26px Montserrat;
            }
        }

        .item-menu-footer-left {
            li {
                float: left;
                margin-right: 46px;
                margin-bottom: 0px;
            }

            a {
                font: normal normal 16px/19px Montserrat;
            }
        }

        .copyright-mqn {
            .text {
                margin-top: 44px;
                text-align: right;
                font: normal normal 16px/19px Montserrat;
            }
        }

        .item-line {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1024px) {
    .footer-main {
        .item-form-regsiter-right {
            .text {
                margin-top: 84px;
            }
        }
    }
}

@media (min-width: 1366px) {
    .footer-main {
        .item-form-regsiter-right {
            margin-top: -16px;

            .text {
                margin-top: 115px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .footer-main {
        .item-form-regsiter-right {
            margin-top: 0px;
        }
    }
}
