.header-menu {
    position: relative;
    z-index: 999;
    background: #0a1825;
    border: none;
    margin-bottom: -1px;
    .navbar-light {
        background: transparent !important;
        // transition: 0.75s ease;
        height: 80px;
    }

    .logo{
        width: 100%;
        img{
            width: 170px;
            height: 35px;
            margin-top: -10px;
        }
    }

    .navbar-light.scrolled {
        background: #0a1825 !important;
        width: 100%;
        position: relative;
        // transition: 0.75s ease;
        height: 80px;
        box-shadow: 0px 3px 6px #0a1825;
    }

    .navbar-toggler {
        border-color: transparent;
        right: 0;
        position: absolute;
        top: 16px;
        .navbar-toggler-icon {
            background-image: url("/img/iconBar.png");
        }
    }

    .menu {
        text-align: center;
        font: normal normal normal 16px/22px Source Serif Pro !important;
        letter-spacing: 0px;
        margin-left: 150px;
        transition: all 0.3s ease 0s;
        &.onSearch {
            .nav-link {
                padding: 20px 10px !important;
            }
        }
        .nav-link {
            color: $text-grey;
            position: relative;
            transition: all 0.3s ease 0s;
        }
        .nav-link:after {
            content: "";
            background: #0a1825 0% 0% no-repeat padding-box;
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 8px;
            width: 0;
            left: 50%;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
        .nav-item:hover .nav-link {
            color: $text-dark;
        }
        .nav-item:hover .nav-link:after {
            width: 50%;
            left: 25%;
        }
        .active>.nav-link {
            color: $text-dark;
            position: relative;
        }
        .nav-link:after {
            content: "";
            background: #0A1825 0% 0% no-repeat padding-box;
            height: 3px;
            position: absolute;
            bottom: 0px;
            width: 0px;
            left: 50%;
        }
        &.active>.nav-link:after {
            width: 100%;
            left: 0px;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
        .none:after {
            background: transparent !important;
        }

    }



    .nav-item{
        .nav-link:after{
            content: "";
            background: #0a1825 0% 0% no-repeat padding-box;
            height: 3px;
            position: absolute;
            bottom: 5px;
        }
    }
}

.lang {
    float: left;
    margin-top: 7px;
    margin-right: 10px;
    .dropdown {
        height: 30px;
    }
    .nav-link-lang {
        color: $text-grey;
        padding: 0px 6px;
        .lang-text {
            float: left;
            padding-right: 3px;
        }
        .lang-flag {
            float: left;
            img {
                width: 21px;
                height: 21px;
            }
        }
    }
}

.search {
    padding: 0px 14px;
    .input-group {
        .search-inp {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            width: 200px;
            height: 21px;
            padding: 15px 15px;
            transition: width 0.3s ease 0s;
            &.active {
                width: 150px;
                padding: 15px;
            }
        }
        .search-btn {
            background: #0a1825;
            border-radius: 50px;
            text-align: center;
            padding: 8px;
            color: #fff;
            z-index: 99;
            border: none;
            height: 30px;
            width: 30px;
            margin-left: -15px;
            cursor: pointer;
        }
    }
    .icon {
        margin-top: 5px;
    }
}

.menu-mobile {
    display: none;
    background: #fff;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 99;
    .back-drop {
        background: #fff;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .nav-item {
        border-bottom: 1px solid #0a1825;
        position: relative;
        .nav-link {
            color: #0a1825;
            margin: 20px 24px;
            display: inline-block;
            font: normal normal 600 16px/20px Montserrat;
            text-transform: uppercase;
        }
        .arrow-down {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 25px;
            color: #0a1825;
        }
        &.active>.nav-link {
            color: $text-dark;
            position: relative;
        }
        .nav-link:after {
            content: "";
            background: #0a1825 0% 0% no-repeat padding-box;
            height: 3px;
            position: absolute;
            bottom: 0px;
            width: 0px;
            left: 50%;
        }
        &.active>.nav-link:after {
            width: 100%;
            left: 0px;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
    }
    .sub-menu {
        list-style: none;
        display: none;
        &.active {
            display: block;
        }
        .menu-item {
            padding-bottom: 20px;
            &.active a {
                color: #0a1825;
            }
            a {
                color: $text-grey;
                font: normal normal normal 18px/25px Source Serif Pro;
            }
        }
    }
    .bottom-bar {
        position: fixed;
        background: #fff;
        width: 100%;
        height: 63px;
        bottom: 0px;
        left: 0px;
        padding-top: 15px;
        .lang {
            margin-left: 20px;
        }
    }
}

@media (min-width: 992px) {
    .header-menu {
        background: transparent;
        .navbar {
            height: 60px;
            .logo {
                width: 120px;
                padding: 0px 25px;
                margin-top: 55px;
                 img{
                    width: 244px;
                    height: 44px;
                }
            }
        }


        .nav-link {
            padding: 20px 48px !important;
            text-align: left;
            font: normal normal 600 14px/18px Montserrat;
            letter-spacing: 0px;
            color: #0A1825;
            text-transform: uppercase;
            opacity: 1;
        }
        .menu {
            margin-left: 134.039px;
        }

        .navbar-light.scrolled {
            background: #0a1825 !important;
            width: 100%;
            position: fixed;
            // transition: 0.75s ease;
            height: 80px;
            box-shadow: 0px 3px 6px #0a1825;
            .logo {
                margin-top: 0px;
            }
            .nav-link {
                color: white;
            }
            .right-menu {
                top: 10px;
            }
            .active>.nav-link {
                color: white;
            }
            .nav-item:hover .nav-link {
                color: white;
            }
            .nav-link:after {
                content: "";
                background: white 0% 0% no-repeat padding-box;
                height: 3px;
                position: absolute;
                bottom: 5px;
                width: 0px;
                left: 50%;
            }
            &.active>.nav-link:after {
                width: 100%;
                left: 0px;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }
        }
    
        .nav-item.active > .nav-link:after{
            width: 50%;
            left: 25%;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
        
    }
    .search {
        margin-top: 3px;
        .input-group {
            .search-inp {
                width: 0;
                padding: 5px 0px;
                transition: width 0.3s ease 0s;
                &.active {
                    width: 150px;
                    padding: 5px;
                }
            }
        }
    }
    .dropdown>.dropdown-menu {
        margin-top: -0px;
        border-radius: 0px;
        border: none;
        box-shadow: 0px 3px 6px #00000029;
    }
    .header-menu {
        .dropdown:hover>.dropdown-menu {
            display: block;
        }
        .dropdown-item:hover,
        .dropdown-item:focus,
        .dropdown-item.active,
        .dropdown-item:active {
            color: $text-dark;
            background-color: transparent;
        }
    }
    .right-menu {
        position: absolute;
        right: 0px;
        top: 15px;
        padding: 0px 50px;
    }
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #0A1825;
                cursor: pointer;
            }
            // .active {
            //     border-bottom: 2px solid #0A1825;
            //     padding: 0px 24px;
            //     width: 24px;
            //     margin: -10px 50px;
            // }
        }
    }
    .modal-backdrop {
        background: #0A1825;
        background-size: 100%;
        background-attachment: fixed;
        background-position: 90% 10%;
    }
    .modal-backdrop.show {
        opacity: 1;
        padding: 0 !important;
    }
    .modal {
        padding: 0 !important;
    }
    .close-modal {
        float: right;
    }
    .modal-content {
        background-color: transparent;
        border: none;
        .fa-times-circle {
            color: white;
            font-size: 40px;
            float: right;
            cursor: pointer;
        }
    }
    .form-search {
        padding-top: 100px;
        input {
            width: 1050px;
            background: transparent;
            border: none;
            border-bottom: 1px solid white;
            border-radius: 0;
            color: white;
            padding-bottom: 15px;
            font: normal normal 24px/34px Montserrat;
        }

        button{
            border: none;
            background: transparent;
            padding-bottom: 14px;
            padding-top: 20px;
            border-bottom: 1px solid white;
            width: 50px;
            img{
                width: 24px;
            }
        }
    }
    .modal-open {
        padding-right: 0 !important;
    }
}

@media (min-width: 1024px) {
    .header-menu {
        .nav-link {
            padding: 10px 18px !important;
            font: normal normal 600 14px/18px Montserrat;
            .seacrh-mqn {
                img {
                    width: 15px;
                }
            }
        }
        .navbar {
            .logo {
                margin-top: 40px;
            }
        }
    }
    .navbar-light {
        .navbar-nav {
            // .active {
            //     margin: -10px 20px;
            // }
        }
    }
}

@media (min-width: 1366px) {
    .header-menu {
        .nav-link {
            padding: 10px 22px !important;
            .seacrh-mqn {
                img {
                    width: 20px;
                }
            }
        }

        .nav-item{
            .nav-link:after{
                bottom: -5px;
            }
        }

        .navbar-light.scrolled .nav-link:after{
            bottom: -5px;
        }
    }
}

// @media (min-width: 1140px) {}
// @media (min-width: 1200px) {}
// @media (min-width: 1280px) {}
@media (min-width: 1600px) {
    .header-menu {
        .nav-link {
            padding: 20px 28px !important;
            font: normal normal 600 16px/18px Montserrat;
        }

        .nav-item{
            .nav-link:after{
                bottom: 5px;
            }
        }

        .navbar-light.scrolled .nav-link:after{
            bottom: 5px;
        }
    }
}