@import './home/scope-project.scss';
@import './home/list-scope.scss';
@import './home/best-project.scss';
@import './home/news.scss';
@import './home/slide.scss';

html,
body {
    overflow-x: hidden;
}

.no-scroll {
    overflow: hidden !important;
    height: 100%;
}

.top-70-mobile {
    padding-top: 70px !important;
}

#toTopBtn {
    opacity: 0.6;
    transition: 0.75s ease;

    &:hover {
        opacity: 1;
        transition: 0.75s ease;
    }
}

.load-more {
    padding: 10px 26px;
    background: #27394F 0% 0% no-repeat padding-box;
    box-shadow: -2px 6px 6px #00000029;
    border-radius: 50px;
    font: normal normal 600 14px/26px Montserrat;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    transition: 0.75s ease;

    &:hover {
        color: #27394F;
        background: white;
    }
}

.right {
    img {
        float: right;
        width: 100%;
    }
}

.left {
    img {
        float: left;
        width: 100%;
    }
}

.top-header-content {
    position: relative;

    .content-left {
        padding: 0px 24px;
        height: auto;
        width: auto;
        background-repeat: no-repeat;
        background-position: center top;
        padding-bottom: 55%;
        background-size: cover;

        h1{
             text-align: left;
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #FFFFFF;
            text-transform: uppercase;
            padding-top: 80px;
            margin-bottom: 10px;
        }

        .title {
            text-align: left;
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #FFFFFF;
            text-transform: uppercase;
            padding-top: 80px;
            margin-bottom: 10px;
        }

        h2 {
            font: normal normal bold 18px/32px Montserrat;
            letter-spacing: 0.95px;
            color: #FFFFFF;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        p {
            font: normal normal 14px/24px Montserrat;
            color: #FFFFFF;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: unset;
            -webkit-box-orient: vertical;
            margin-bottom: 30px;
            text-align: justify;
        }

        .moving-mouse-holder {
            margin: auto;
            margin-top: 60px;
            width: 40%;

            .mouse {
                width: 26px;
                height: 40px;
                position: relative;
                right: 0;
                border-radius: 18px;
                background: #ffffff;
                margin: 0 auto;

                .mouse-button {
                    background-color: #0A1825;
                    width: 4px;
                    height: 10px;
                    border-radius: 2px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    margin: 0 0 0 -2px;
                    animation: mouse-scroll 1s infinite alternate;
                }
            }
        }

        
        .pt-0{
            margin-top: 0px;
        }
    }

    .img-right-content-top-mobile {
        img {
            width: 100%;
            padding: 0px 24px;
            height: 515px;
            margin-top: -50px;
            margin-bottom: -80px;
        }

        // img header top about
        // .item-img-about {
        //     img {
        //         width: 90%;
        //         display: table;
        //         margin: 0 auto;
        //     }
        // }
        // end img header top about
    }

    .img-right-content-top-desktop {
        position: relative;
        margin: 0 auto;

        // img header top home
        .item-user {
            img {
                width: 100%;
                position: relative;
            }
        }

        .item-rocket {
            img {
                position: absolute;
                top: 0;
                width: 50%;
                text-align: center;
                transform: translate(-50%, 0);
                left: 50%;
                animation: RocketUp 2s linear 2s infinite alternate;
            }
        }

        .item-cloud-left {
            img {
                position: absolute;
                top: 24%;
                width: 20%;
                left: 10%;
                animation: linear infinite alternate;
                animation-name: LeftCloud;
                animation-duration: 5s;
            }
        }

        .item-cloud-right {
            img {
                position: absolute;
                top: 35%;
                width: 28%;
                right: 10%;
                animation: linear infinite alternate;
                animation-name: RightCloud;
                animation-duration: 5s;
            }
        }

        .item-cloud-2 {
            img {
                position: absolute;
                bottom: 0;
                width: 50%;
                right: 0%;
                animation: linear infinite alternate;
                animation-name: RightCloud;
                animation-duration: 4s;
            }
        }

        .item-cloud-3 {
            img {
                position: absolute;
                bottom: -12%;
                width: 60%;
                left: 10%;
                animation: linear infinite alternate;
                animation-name: LeftCloud;
                animation-duration: 3s;
            }
        }

        // end img header top home
        // img header top about
        .item-img-about {
            position: relative;
            margin: auto;

            .item-sao-thien-vuong {
                img {
                    width: 80%;
                    display: table;
                    margin: 70px auto;
                    animation-name: spin;
                    animation-duration: 90000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }


            .item-alien-trai-dat {
                img {
                    margin: 40px 0px;
                    left: 20%;
                    width: 50%;
                    position: relative;
                    -webkit-animation-name: alienTraiDat;
                    animation-name: alienTraiDat;
                    -webkit-animation-duration: 5000ms;
                    animation-duration: 5000ms;
                    -webkit-animation-iteration-count: infinite;
                    animation-iteration-count: infinite;
                    -webkit-animation-timing-function: linear;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }

            .img-ufo-sao-hoa {
                img {
                    position: absolute;
                    right: 12%;
                    width: 14%;
                    animation-name: ufoSaoHoa;
                    animation-duration: 3000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }

            .img-alien-ufo {
                img {
                    position: absolute;
                    top: 30%;
                    animation-name: ufoAlienMqn;
                    animation-duration: 5000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }

            .img-people-matrung {
                img {
                    position: absolute;
                    top: 0;
                    width: 50%;
                    text-align: center;
                    transform: translate(-50%, 0);
                    left: 50%;
                    animation-name: peopleSearch;
                    animation-duration: 3000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }


            .img-alien-list-blog2 {
                img {
                    position: absolute;
                    top: 12%;
                    right: 0;
                    animation-name: alienListblog2;
                    animation-duration: 5000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }

            .img-alien-couser{
                img {
                    position: absolute;
                    left: 20%;
                    animation-name: alienHaiVuong;
                    animation-duration: 3000ms;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    animation-direction: alternate-reverse;
                }
            }

            .img-alien-about {
                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    animation: mymove 5s infinite;
                    animation-direction: alternate-reverse;
                }
            }

            .img-alien-contact {
                img {
                    width: 42%;
                    position: absolute;
                    transform: translate(-50%, 35%);
                    left: 50%;
                    bottom: 35%;
                }
            }

            .item-cloud-top-about-1 {
                img {
                    position: absolute;
                    bottom: 0;
                }
            }

            .item-cloud-top-about-2 {
                img {
                    position: absolute;
                    bottom: -7%;
                    right: 0%;
                }
            }


            .bt6 {
                img {
                    bottom: 3%;
                }
            }

            .bt15 {
                img {
                    bottom: 10%;
                }
            }
        }

        // end img header top about
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes alienTraiDat {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(10deg);
    }
}


@keyframes cloudLeft {
    0% {
        left: 0px;
    }

    25% {
        left: 15px;
    }

    50% {
        left: 25px;
    }

    75% {
        left: 35px;
    }

    100% {
        left: 45px;
    }
}


@keyframes peopleSearch {
    0% {
        top: 22%;
    }

    100% {
        top: 30%;
    }
}
@keyframes alienListblog2 {
    0% {
        right: 0px;
    }

    25% {
        right: 15px;
    }

    50% {
        right: 25px;
    }

    75% {
        right: 35px;
    }

    100% {
        right: 45px;
    }
}

@keyframes ufoAlienMqn {
    0% {
        left: 0px;
    }

    25% {
        left: 25px;
    }

    50% {
        left: 45px;
    }

    75% {
        left: 65px;
    }

    100% {
        left: 85px;
    }
}

@keyframes cloudRight {
    0% {
        right: 0px;
    }

    25% {
        right: 15px;
    }

    50% {
        right: 25px;
    }

    75% {
        right: 35px;
    }

    100% {
        right: 45px;
    }
}

@keyframes RocketUp {
    100% {
        top: -7%;
    }
}

@keyframes alienHaiVuong {
    0%{
        top:25%;
    }

    100% {
        top: 20%;
    }
}

@keyframes ufoSaoHoa {
    0% {
        top: 15%;
    }

    100% {
        top: 10%;
    }
}


@keyframes LeftCloud {
    100% {
        left: 5%;
    }
}

@keyframes RightCloud {
    100% {
        right: 5%;
    }
}

@keyframes mymove {
    0% {
        right: 0px;
        top: 0px;
    }

    25% {
        right: 15px;
        top: 0px;
    }

    50% {
        right: 15px;
        top: 15px;
    }

    75% {
        right: 0px;
        top: 15px;
    }

    100% {
        right: 0px;
        top: 0px;
    }
}

@keyframes mouse-scroll {
    to {
        transform: translate(0, 6px) scale(1, 0.8);
    }
}

.content-about-home {
    .content-about-right-mqn {
        padding: 0px 24px;
        background-image: url('/img/background-mobile-2.png');
        height: auto;
        width: auto;
        background-repeat: no-repeat;
        background-position: center right;
        padding-bottom: 100%;
        background-size: contain;

        .content-about-mqn {
            position: relative;
            left: 30%;
            top: 18vh;
            width: 70%;

            .title {
                text-align: left;
                font: normal normal bold 18px/22px Montserrat;
                letter-spacing: 0.95px;
                color: #FFFFFF;
                text-transform: uppercase;
                padding-top: 80px;
                margin-bottom: 10px;
            }

            p {
                font: normal normal normal 14px/28px Montserrat;
                color: #FFFFFF;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
                margin-bottom: 30px;
                text-align: justify;
            }
        }
    }

    .img-content-about-mqn-mobile {
        position: relative;
        margin: 0 auto;

        img {
            width: 100%;
            height: 480px;
            margin-top: -30px;
        }
    }
}

@media (min-width: 768px) {
    .top-header-content {
        .content-left {
            padding-bottom: 85%;
        }
    }

    .partner-home-slide-group {
        .partner-home-slide {
            .item {
                padding-right: 15px;

                &:last-child {
                    padding-left: 15px;
                }
            }
        }
    }

    .detail-blog-main-alien-mqn {
        .item-content-info-detail-blog {
            img {
                height: 300px;
            }
        }
    }

}

@media (min-width: 992px) {
    .top-header-content {
        position: relative;

        .content-left {
            padding: 0px 50px;
            background-image: url('/img/background-desktop-top.png');
            padding-bottom: 100%;
            background-size: contain;
            position: absolute;
            top: -60px;
            width: 100%;

             
            h1 {
                text-align: left;
                font: normal normal bold 32px/39px Montserrat;
                letter-spacing: 1.7px;
                color: #FFFFFF;
                margin-top: 90px;
            }

            .title {
                text-align: left;
                font: normal normal bold 32px/39px Montserrat;
                letter-spacing: 1.7px;
                color: #FFFFFF;
                margin-top: 90px;
            }

            p {
                width: 100%;
                -webkit-line-clamp: unset;
            }

            h2 {
                width: 80%;
                font:normal normal bold 24px/40px Montserrat;
            }

            .moving-mouse-holder {
                .mouse {
                    margin: 0;
                }
            }

            .pt-0{
                margin-top: 0px;
            }
        }

        .content-title-detail-blog-main {
            padding-top: 24%;
            .item-icon-option{
                img{
                    padding-right: 10px;
                    padding-top: 7px;
                    width: 30px;
                }
            }
        }

        .img-right-content-top {
            img {
                width: 100%;
                position: relative;
                top: -60px;
            }
        }
    }

    .content-about-home {
        .content-about-right-mqn {
            padding: 0px 16px;
            background-image: url('/img/background-desktop-about.png');
            background-size: contain;
            padding-bottom: 100%;

            .content-about-mqn {
                position: relative;
                left: 30%;
                top: 32vh;
                width: 100%;

                .title {
                    font: normal normal bold 32px/39px Montserrat;
                }

                p {
                    -webkit-line-clamp: 5;
                }
            }
        }

        .img-content-about-mqn-desktop {
            .item-img-ufo {
                img {
                    width: 100%;
                    padding: 0px 50px;
                }
            }

            .item-img-ufo-user {
                img {
                    position: absolute;
                    animation: myUserUfo 8s infinite;
                    animation-direction: alternate-reverse;
                    width: 50%;
                    text-align: center;
                    transform: translate(-50%, 0);
                    left: 50%;
                }
            }

            .item-img-cloud-ufo {
                img {
                    position: absolute;
                    top: 57%;
                    padding: 0px 50px;
                }
            }
        }
    }

    @keyframes myUserUfo {
        0% {
            top: 250px;
            width: 5%;
            opacity: 0;
        }

        100% {
            top: 450px;
            width: 55%;
            opacity: 1;
        }
    }

    @keyframes myUfo {
        0% {
            -ms-transform: rotate(3deg);
            /* IE 9 */
            transform: rotate(3deg);
        }

        50% {
            -ms-transform: rotate(-3deg);
            /* IE 9 */
            transform: rotate(-3deg);
        }

        100% {
            -ms-transform: rotate(3deg);
            /* IE 9 */
            transform: rotate(3deg);
        }
    }
}

@media (min-width: 1024px) {
    .top-header-content {
        .content-left {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }

            h1{
                font: normal normal bold 24px/34px Montserrat;
            }


            p {
                width: 100%;
                -webkit-line-clamp: 4;
            }
        }
    }

    // .content-about-home {
    //     .content-about-right-mqn {
    //         .content-about-mqn {
    //             top: 14vh;

    //             h1 {
    //                 font: normal normal bold 18px/22px Montserrat;
    //             }

    //             p {
    //                 -webkit-line-clamp: 3;
    //             }
    //         }
    //     }
    // }
}

@media (min-width: 1366px) {
    .top-header-content {
        .content-left {
            .title {
                font: normal normal bold 24px/34px Montserrat;
                margin-top: 60px;
            }

            h1{
                 font: normal normal bold 24px/34px Montserrat;
                margin-top: 60px;
            }

            p {
                width: 100%;
                -webkit-line-clamp: unset;
            }

            h2 {
                font: normal normal bold 24px/36px Montserrat;
            }
        }
    }

    .content-about-home {
        .content-about-right-mqn {
            .content-about-mqn {
                top: 38vh;

                h1 {
                    font: normal normal bold 24px/34px Montserrat;
                }
                .title{
                    font: normal normal bold 24px/34px Montserrat;
                }
                p {
                    -webkit-line-clamp: 7;
                }
            }
        }
    }
}

@media (min-width: 1600px) {
    .top-header-content {
        .content-left {
            p {
                width: 100%;
                -webkit-line-clamp: unset;
                font: normal normal 16px/28px Montserrat;
            }

            .title {
                margin-top: 90px;
            }

            h1 {
                margin-top: 90px;
            }
        }

        .img-right-content-top-desktop {
            .item-img-about {
                .img-alien-about {
                    img {
                        width: 80%;
                    }
                }
                .item-cloud-top-about-1 {
                    img {
                        bottom: -12%;
                        left: 0;
                        width: 90%;
                    }
                }

                .bt-cloud-1{
                    img{
                        bottom: -3%;
                    }
                }

                .bt-cloud-2{
                    img{
                        bottom: -4%;
                    }
                }

                .img-alien-list-blog2 {
                    img {
                        top: 28%;
                    }
                }

                .img-alien-ufo {
                    img {
                        top: 48%;
                    }
                }

                .bt6 {
                    img {
                        bottom: 0%;
                    }
                }

                .bt12 {
                    img {
                        bottom: 12%;
                    }
                }
            }
        }
    }

    .content-about-home {
        .content-about-right-mqn {
            .content-about-mqn {
                top: 40vh;

                p {
                    -webkit-line-clamp: unset;
                    font: normal normal normal 16px/28px Montserrat;
                }
            }
        }
    }

    @keyframes alienListblog2 {
        0% {
            right: 0px;
        }
    
        25% {
            right: 35px;
        }
    
        50% {
            right: 65px;
        }
    
        75% {
            right: 95px;
        }
    
        100% {
            right: 125px;
        }
    }
    
    @keyframes ufoAlienMqn {
        0% {
            left: 0px;
        }
    
        25% {
            left: 35px;
        }
    
        50% {
            left: 65px;
        }
    
        75% {
            left: 95px;
        }
    
        100% {
            left: 125px;
        }
    }

    @keyframes alienHaiVuong {
        0%{
            top:33%;
        }
    
        100% {
            top: 28%;
        }
    }
}


.container-fluid{
    padding: 0 !important;
}
