.partner-home-slide-group {
    position: relative;
    text-align: center;
    border-bottom: 1px solid #C6D2E1;
    padding-bottom: 30px;
    .btn-back {
        position: absolute;
        left: -5px;
        top: calc(45% - 14px);
    }
    .btn-next {
        position: absolute;
        right: -5px;
        top: calc(45% - 14px);
    }
}


.slick-arrow.slick-hidden {
    display: block;
}

.list-blog-main-mqn {
    padding-top: 100px;
    padding: 0px 24px;
}

.search-news-mqn{
    padding-bottom: 50px;
}

.title-list-blog {
    .title {
        text-align: center;
        font: normal normal bold 18px/22px Montserrat;
        letter-spacing: 0.95px;
        color: #0A1825;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 62px;
    }
}

.list-menu-tags{
    ul{
        li{
            display: inline;
            list-style-type: none;
            margin-right: 20px;
        }

        a{
            color:#495057;
            font: normal normal bold 12px/19px Montserrat;
            text-transform: uppercase;
            padding-top: 8px;
            padding-bottom: 20px;
        }

        .active{
            background: #0a1825 !important;
            height: 36px;
            border-radius: 50px;
            color: white !important;
            a{
                color:white;
            }
        }
    }

    .nav-tabs{
        border: none;
        .nav-link{
            border: none;
            border-radius: 0;
            cursor: pointer;
        }
    }
}

.tab-content > .active{
    padding: 0;
}

.item-list-blog-mqn-main {
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    .item-blog-alien-mqn {
        height: 350px;
        position: relative;
        text-align: center;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 5px;
        -webkit-transition: all 0.6s ease-in-out;
        &:hover {
            -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
            -webkit-transition: all 0.6s ease-in-out;
            border-radius: 5px;
        }
    }
    .content-info-title-blog-mqn {
        width: 100%;
        .tag-blog {
            background: #19538D 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000091;
            border-radius: 50px;
            text-align: center;
            font: normal normal bold 12px/34px Montserrat;
            letter-spacing: 0.74px;
            color: #FFFFFF;
            position: absolute;
            width: 82px;
            top: 16px;
            right: 16px;
        }
        .title-item-blog {
            background: transparent linear-gradient(180deg, #FFFFFF00 0%, #00000000 0%, #272727 100%) 0% 0% no-repeat padding-box;
            border-radius: 10px;
            position: absolute;
            bottom: 0;
            padding: 0px 20px;
            border-radius: 5px;
            width: 100%;
            h1 {
                text-align: left;
                font: normal normal bold 12px/20px Montserrat;
                letter-spacing: 0.74px;
                color: #FFFFFF;
                text-transform: uppercase;
                text-shadow: 0px 3px 6px black;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

.item-icon-option {
    padding-bottom: 25px;
    img {
        float: left;
        padding-right: 6px;
        padding-top: 10px;
        width: 22px;
        padding-bottom: 20px;
    }
    span {
        font: normal normal normal 12px/35px Montserrat;
        letter-spacing: 0.74px;
        color: #FFFFFF;
        text-align: left;
        text-transform: capitalize;
        float: left;
    }
    .text {
        font: normal normal normal 12px/35px Montserrat;
        letter-spacing: 0.74px;
        color: #FFFFFF;
        text-align: left;
        text-transform: capitalize;
    }
}

.pagination-main {
    padding: 32px 0px 150px 0px;
    margin: 0 auto;
    .item-number-pagination {
        font: normal normal normal 12px/15px Montserrat;
        color: #0a1825;
        text-shadow: 0px 3px 6px #00000029;
        text-transform: uppercase;
        padding: 5px 0px;
        text-align: center;
        border-bottom: 1px solid #0a1825;
        height: 25px;
        margin-right: 20px;
        margin-left: 20px;
        span {
            padding: 2px 0px;
        }
    }
}

.pb-pagination {
    margin-bottom: 11px;
    margin-right: 20px;
}

.pt-pagination-mqn {
    // position: absolute;
    // left: 80px;
    // top: 36px;
}

// detail blog
.detail-blog-main-alien-mqn {
    padding: 0px 24px;
    .item-content-info-detail-blog {
        border-bottom: 1px solid #C6D2E1;
        padding-bottom: 10px;
        p {
            text-align: justify;
            font: normal normal 500 14px/22px Montserrat;
            color: #0A1825;
        }
        img {
             width: 100% !important;
                height: 100% !important;
            object-fit: cover;
            margin-bottom: 15px;
        }
    }
    .item-new-related {
        padding-top: 45px;
        .title {
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #0A1825;
            text-transform: uppercase;
            padding-bottom: 25px;
        }
    }
    .item-youtube-channer-alien {
        border-bottom: 1px solid #C6D2E1;
        padding-bottom: 10px;
        .title {
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #0A1825;
            text-transform: uppercase;
            padding: 35px 0px;
        }
        .item-list-video-youtube {
            .item-video-youtube {
                img {
                    padding-right: 15px;
                }
                span {
                    font: normal normal 600 14px/22px Montserrat;
                    letter-spacing: 0.74px;
                    color: #0C1C2B;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .item-behance-mqn-main {
        border-bottom: 1px solid #C6D2E1;
        padding-bottom: 10px;
        .title {
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #0A1825;
            text-transform: uppercase;
            padding: 35px 0px;
        }
        .item-project-behance {
            margin-bottom: 32px;
        }
    }
    .let-get-social-mqn-main {
        .title {
            font: normal normal bold 18px/22px Montserrat;
            letter-spacing: 0.95px;
            color: #0A1825;
            text-transform: uppercase;
            padding: 35px 0px 15px 0px;
        }
        .icon-social-form {
            a {
                margin-right: 0;
            }
        }
    }
}




@media (min-width: 992px) {
    .item-list-blog-mqn-main {
        margin-bottom: 30px;
        .item-blog-alien-mqn {
            .title-item-blog {
                h1 {
                    font: normal normal bold 16px/26px Montserrat;
                }
            }
        }
    }
    .list-blog-main-mqn {
        padding: 0px 50px;
    }

    .search-news-mqn{
        padding-bottom: 100px;
    }

    
    .title-list-blog {
        .title {
            padding-top: 0;
            padding-bottom: 50px;
            text-align: left;
            font:normal normal bold 24px/34px Montserrat;
        }
    }
    .list-menu-tags{
        float: right;
        margin-right: -34px;
    }
    
    .pb-pagination {
        margin-bottom: 100px;
    }
    .detail-blog-main-alien-mqn {
        padding: 25px 50px;
        .item-content-info-detail-blog {
            img {
                width: 100% !important;
                height: 100% !important;
            }
        }
        .item-new-related {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
        .item-youtube-channer-alien {
            .title {
                font: normal normal bold 24px/34px Montserrat;
                padding: 0px 0px 35px 0px;
            }
        }
        .item-behance-mqn-main {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
        .let-get-social-mqn-main {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
    }
    .partner-home-slide-group {
        padding-bottom: 150px;
        border: none;
        .btn-back,
        .btn-next {
            top: calc(35% - 14px);
        }
        .partner-home-slide {
            .item {
                padding-right: 15px;
                &:last-child {
                    padding-left: 15px;
                }
            }
        }
    }
}

@media (min-width: 1366px) {
    .list-blog-main-mqn {
        padding-top: 50px;
        .title-list-blog {
            .title {
                font: normal normal bold 24px/40px Montserrat;
                padding-bottom: 30px;
            }
        }
    }

    .results-blog{
        padding-top: 0px;
        padding-bottom: 150px;
    }

    .item-icon-option {
        .text {
            font: normal normal normal 14px/35px Montserrat;
        }
        span {
            font: normal normal normal 14px/35px Montserrat;
            float: right;
        }
    }

    .detail-blog-main-alien-mqn {
        padding: 0px 50px;
        .item-youtube-channer-alien {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
        .item-behance-mqn-main {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
        .let-get-social-mqn-main {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
        .item-new-related {
            .title {
                font: normal normal bold 24px/34px Montserrat;
            }
        }
        .let-get-social-mqn-main{
            padding-bottom: 50px;
        }
    }
}

@media (min-width: 1600px) {
    .detail-blog-main-alien-mqn {
        padding: 0px 50px;

        .item-content-info-detail-blog{
            p{
                font: normal normal 500 16px/28px Montserrat;
            }
        }
    }

    .item-list-blog-mqn-main{
        .item-blog-alien-mqn{
            height: 420px;
        }

        .content-info-title-blog-mqn{
            .title-item-blog{
                h1{
                    font: normal normal bold 14px/22px Montserrat;
                }
            }
        }
    }
}