.list-project {
    position: relative;

    .background {
        background: url('/img/backgroundRed.png') repeat;
        position: absolute;
        width: 100%;
        height: 350px;
        z-index: -1;
    }

    .title {
        color: #fff;
        text-align: center;
        font: normal normal normal 30px/41px Source Serif Pro;
        padding-top: 63px;
        padding-bottom: 30px;
    }

    .project-item {
        border-left: 1px solid $text-dark;
        position: relative;
        margin-top: 45px;

        .bottom-line {
            position: absolute;
            bottom: 0px;
            left: 0px;
            border-bottom: 1px solid $text-dark;
            width: calc(100% - 40px);
            transition: width 0.3s ease 0s;
        }

        .avataProject {
            width: 100%;
        }

        .project-item-title-group {
            margin-top: 20px;
            position: relative;

            .project-item-title {
                font: normal normal 600 20px/24px Montserrat;
                color: $text-blue;
                padding: 12px 12px 6px;
                margin-right: 100px;
                min-height: 66px;
            }

            .project-item-icon {
                width: 62px;
                display: inline-block;
                position: absolute;
                bottom: 0;
                right: 0;
                height: 52px;
                overflow: hidden;

                .icon-slide {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    transition: top 0.3s ease 0s;

                    img {
                        width: 100%;
                    }
                }

            }
        }

        &:hover {
            .icon-slide {
                top: -52px !important;
            }
        }
    }
}

@media (min-width: 992px) {
    .list-project {
        .title {
            font: normal normal normal 42px/58px Source Serif Pro;
        }

        .project-item {

            .project-item-title-group {
                .project-item-icon {
                    width: 76px;
                    height: 63px;
                }
            }

            &:hover {
                .icon-slide {
                    top: -63px !important;
                }
            }

            .bottom-line {
                width: calc(100% - 48px);
            }
        }

    }
}

@media (min-width: 1200px) {
    .col-xl-28-57 {
        width: 28.5714285714%;
        flex: 0 0 28.5714285714%
    }

    .project-item {
        .project-item-title-group {
            .project-item-title {
                font: normal normal 400 24px/29px Montserrat;
                min-height: 76px;
                margin-right: 76px;
            }
        }
    }
}
