.scope-project {
  background: url('/img/backgroundRed.png') repeat;
  margin-top: 56px;
  padding: 69px 0px 0px;

  .title {
      color: #fff;
      font: normal normal normal 20px/24px Montserrat;
      text-align: center;
  }

  .search-form {
      padding: 10px 15px;
  }
}

@media (min-width: 992px) {
  .scope-project{
      .title {
          font: normal normal normal 24px/29px Montserrat;
          margin-bottom: 10px;
      }

      .search-form {
          padding: 10px 0px;
      }

  }
}