.home-slide {
    position: relative;
    margin: 0px 15px;
    height: 450px;

    .backdrop {
        background: #000;
        opacity: 10%;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 21;
    }

    .carousel {
        height: 100%;

        .carousel-inner {
            height: 100%;
            width: 100%;

            .carousel-item {
                height: 100%;
                width: 100%;
                -webkit-transition: -webkit-transform 0.2s ease-in-out !important;
                -o-transition: -o-transform 0.2s ease-in-out !important;
                transition: transform 0.2s ease-in-out !important;

                .img {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }

    .carousel-indicators {
        z-index: 50;
        justify-content: flex-end;
        width: 100%;
        margin: 0px 0 30px 0px;
        padding-right: 30px;

        li {
            opacity: 1;
            width: 10px;
            height: 10px;
            border-radius: 100px;
            border: none;
            background-color: #fff;
            margin-right: 20px;

            &.active {
                background-color: $text-dark;
            }
        }
    }

    .slide-prefix-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 10;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-prefix {
            clip-path: url('#marker');
            backdrop-filter: blur(6px);
            display: inline-block;
            width: 110%;
            background: #abc7f862;
            margin-left: -5%;
            position: absolute;
            left: 0px;

            svg {
                width: 100%;
                height: auto;
            }
        }
    }

    .carousel-control-prev {
        z-index: 30;
        opacity: 1;
        left: -5px;
        justify-content: flex-start;
    }

    .carousel-control-next {
        z-index: 30;
        opacity: 1;
        right: -5px;
        justify-content: flex-end;
    }

    .title-group {
        position: absolute;
        z-index: 40;
        bottom: 0px;
        width: 100%;

        .item {
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            opacity: 0;
            padding: 10px;
            transition: opacity .3s linear;

            &.active {
                opacity: 1;
            }

            .line-1 {
                font: normal normal normal 36px/49px Source Serif Pro;
                color: #FFFFFF;
                text-shadow: 0px 4px 6px #00000029;
            }

            .line-2 {
                font: italic normal normal 36px/49px Source Serif Pro;
                color: #FFFFFF;
                text-shadow: 0px 4px 6px #00000029;
            }
        }
    }
}

@media (min-width: 768px) {
    .home-slide {
        .slide-prefix-wrap {
            .slide-prefix {
                height: 100%;
                width: auto;
                left: auto;

                svg {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}


@media (min-width: 992px) {
    .home-slide {
        margin: 0px 50px;
        height: calc(100vh - 115px);
        .carousel-control-prev {
            left: -20px;
        }

        .carousel-control-next {
            right: -20px;
        }

        .title-group {

            .item {
                padding: 0px 0px 50px 50px;

                .line-1 {
                    font: normal normal normal 60px/82px Source Serif Pro;
                }

                .line-2 {
                    font: italic normal normal 60px/82px Source Serif Pro;
                }
            }
        }
    }
}
